<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ui.styles.css" asp-append-version="true" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Frontend/images/fevicon.png">

    <!-- Bootstrap LTR CSS -->
    <link rel="stylesheet" href="~/Frontend/css/bootstrap.min.css">

    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="~/Frontend/css/fontawesome.all.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Frontend/css/animate.min.css">

    <!-- OwlCarousel CSS -->
    <link rel="stylesheet" href="~/Frontend/css/owl.carousel.min.css">

    <!-- Magnific popup CSS -->
    <link rel="stylesheet" href="~/Frontend/css/fancybox.min.css">

    <!-- chat CSS -->
    <link rel="stylesheet" href="~/Frontend/css/chat.css">

    <!-- Slicknav CSS -->
    <link rel="stylesheet" href="~/Frontend/css/slicknav.min.css">

    <!-- Date picker CSS -->
    <link rel="stylesheet" href="~/Frontend/css/bootstrap-datetimepicker.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Frontend/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Frontend/css/responsive.css">

    <!-- RTL CSS -->
    <!-- <link rel="stylesheet" href="~/Frontend/css/rtl.css"> -->
    <!-- jQuery -->
    <script src="~/frontend/js/jquery-3.4.1.min.js"></script>
</head>
<body>
    <!-- Main Wrapper Start -->
    <div class="main-wrapper">

        <!-- skiptocontent start ( This section for blind and Google SEO, Also for page speed )-->
        <a id="skiptocontent" href="#maincontent">skip navigation</a>
        <!-- skiptocontent End -->
        <!-- Preloader start -->
        <div class="wshipping-site-preloader-wrapper">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- Preloader End -->

        <header class="for-sticky">
            <!-- Header top area start -->
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="top-contact"> <a href="#"><i class="fa fa-envelope"></i> albheryahmed361@gmail.com</a> <a href="#"><i class="fa fa-phone"></i> +20 1029333519</a></div>
                        </div>
                        <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                            <div class="top-menu">
                                <ul>
                                    <li><a asp-Controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                                    <li><a asp-Controller="Account" asp-action="Register"><i class="fa fa-unlock-alt"></i> Registration</a></li>
                                </ul>
                            </div>
                            <div class="language">
                                <ul>
                                    <li>
                                        <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="~/Frontend/images/flag-1.png" alt="" /> EN</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="" title=""><img src="~/Frontend/images/flag-1.png" alt="" /> EN</a></li>
                                            <li><a href="" title=""><img src="~/Frontend/images/flag-2.png" alt="" /> TR</a></li>
                                            <li><a href="" title=""><img src="~/Frontend/images/flag-3.png" alt="" /> BR</a></li>
                                            <li><a href="" title=""><img src="~/Frontend/images/flag-4.png" alt="" /> SR</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area End -->
            <!-- Header area start -->
            <div class="header-area">
                <div class="container">
                    <!-- Site logo Start -->
                    <div class="logo"> <a href="index.html" title="W-shipping"><img src="~/Frontend/images/logo.png" alt="W-shipping" /></a> </div>
                    <!-- Site logo end -->
                    <div class="mobile-menu-wrapper"></div>
                    <!-- Search Start -->
                    <!-- <div class="dropdown header-search-bar">
                      <form action="index.html">
                        <span class="" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="search" placeholder="kyewords.." class="dropdown-menu search-box">
                      </form>
                    </div> -->
                    <!-- Search End -->
                    <!-- Main menu start -->
                    <nav class="mainmenu">
                        <ul id="navigation">
                            <li class="nav-active">
                                <a asp-Controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-Controller="Info" asp-action="About">About Us</a>
                            </li>
                            <li>
                                <a asp-Controller="Shipments" asp-action="Create">Shipping</a>
                            </li>
                            <li>
                                <a asp-Controller="Info" asp-action="Contact">Contact Us</a>
                            </li>
                            <li>
                                <a asp-controller="Shipments" asp-action="List"><img class="header-profile-pic" src="~/Frontend/images/profile.jpg"> Profile</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Main menu end -->
                </div>
            </div>
            <!-- Header area End -->
        </header>

        @RenderBody()

        <!-- Footer start -->
        <footer class="site-footer">
            <!-- Footer Top start -->
            <div class="footer-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="footer-wiz">
                                <h3 class="footer-logo"><img src="~/Frontend/images/footer-logo.png" alt="footer logo" /></h3>
                                <p>It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                                <ul class="footer-contact">
                                    <li><i class="fa fa-phone"></i> +20 1029333519</li>
                                    <li><i class="fa fa-envelope"></i> albheryahmed361@gmail.com</li>
                                </ul>
                            </div>
                            <div class="top-social bottom-social"> <a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-youtube"></i></a> <a href="#"><i class="fa fa-rss"></i></a> </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="footer-wiz footer-menu">
                                <h3 class="footer-wiz-title">Quick Links</h3>
                                <ul>
                                    <li><a href="about.html">Company Overview</a></li>
                                    <li><a href="services.html">Our Services</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="footer-wiz footer-menu">
                                <h3 class="footer-wiz-title">Usefull Links</h3>
                                <ul>
                                    <li><a href="create-shipping.html">Create Shipping</a></li>
                                    <li><a href="tracking.html">Tracking</a></li>
                                    <li><a href="shipment-history.html">Shipment History</a></li>
                                    <li><a href="tracking-result.html">Tracking Result</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="footer-wiz">
                                <h3 class="footer-wiz-title">Opening Hours</h3>
                                <ul class="open-hours">
                                    <li><span>Mon to Fri:</span> <span class="text-right">09:30AM to 05:30PM</span></li>
                                    <li><span>Sun:</span> <span class="text-right">Closed</span></li>
                                </ul>
                                <div class="newsletter">
                                    <form action="index.html">
                                        <input type="text" placeholder="Enter your email" value="" class="news-input">
                                        <button type="submit" value="" class="news-btn"><i class="fa fa-location-arrow"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer top end -->
            <!-- copyright start -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 wow fadeInLeft">Copyright © 2024 <span>Wrold shipping</span>. All Rights Reserved</div>
                        <div class="col-12 col-lg-6 text-right wow fadeInRight">Design & Development By: <a href="#" title="companytitle" target="_blank">Company Title</a></div>
                    </div>
                </div>
            </div>
            <!-- copyright end -->
        </footer>
        <!-- Footer end -->
    </div>
    <!-- Main Wrapper end -->
    <!-- Start scroll top -->
    <div class="scrollup"><i class="fas fa-chevron-up"></i></div>
    <!-- End scroll top -->
    <!-- Tether JS -->
    <script src="~/Frontend/js/tether.min.js"></script>

    <!-- Popper JS -->
    <script src="~/Frontend/js/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Frontend/js/bootstrap.min.js"></script>

    <!-- OwlCarousel JS -->
    <script src="~/Frontend/js/owl.carousel.min.js"></script>

    <!-- Bootstrap dateTimePicker -->
    <script src="~/Frontend/js/datetimepicker-moment.min.js"></script>
    <script src="~/Frontend/js/bootstrap-datetimepicker.min.js"></script>

    <!-- SlickNav JS -->
    <script src="~/Frontend/js/jquery.slicknav.min.js"></script>

    <!-- fancybox Popup JS -->
    <script src="~/Frontend/js/jquery.fancybox.min.js"></script>

    <!-- WOW JS -->
    <script src="~/Frontend/js/wow-1.3.0.min.js"></script>

    <!-- Step Form with validate -->
    <script src="~/Frontend/js/jquery.validate.js"></script>
    <script src="~/Frontend/js/form-step.js"></script>

    <!-- SlickNav JS -->
    <script src="~/Frontend/js/youtube-background.js"></script>

    <!-- Gallery Filter -->
    <script src="~/Frontend/js/jquery.filterizr.min.js"></script>

    <!-- Chat JS -->
    <script src="~/Frontend/js/chat.js"></script>

    <!-- Coming Soon JS -->
    <script src="~/Frontend/js/coming-soon.js"></script>

    <!-- Active JS -->
    <script src="~/Frontend/js/active.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
